<div class="d-flex">
  <div>
    <%= render "shared/sidebar" %>
  </div>

  <!-- Content Wrappper-->
  <div class="w-100">
    <!-- Modal Fade-In -->
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-xlg" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <!-- Wrapper for render new partial-->
    <div class="d-flex">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column mt-4 col-lg-12">
        <section class="jumbotron text-center ml-2">
          <div class="container">
            <div>
              <h2 class="jumbotron-heading"><strong>Análises Cadastradas</strong></h2>
              <p class="lead text-muted">
                Nesta página, você tem acesso as suas análises de solo e recomendações cadastradas.
              </p>
            </div>
        </section>
        
        <div class="ml-2">
          <div class="d-flex flex-row align-items-center justify-content-between ml-2">
          <%= link_to 'Criar nova análise de solo', new_analise_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-lg btn-primary favorite-btn mr-4" }  %>
          <%#= link_to 'Nova Analise', {:url => {:controller => "analise", :action => "show_analise_form"}, :with => "'model[textfield]=' + $F('textfield_id')"} %>

            <div class="d-block align-self-flex-end mr-2">
              <% if @analises.present? %>
                <%= render  "analises" %>
              <% else %>
                <h5 style="margin: 0;">Nenhuma análise de solo cadastrada ainda.</h5>
              <% end %>
            </div>
          </div>
          
          
          <hr>
        </div>

        <div class="container-analises ml-2 d-flex flex-column">
          <div>
            <% if @properties.present? %>
              <%= render  "properties/property" %>
            <% else %>
              <h5>Nenhuma proprieadade cadastrada ainda.</h5>
            <% end %>
          </div>
        </div>
        
      </div>

      <%#= render "analises/new" %>
      <%#= render "ownerships/index" %>
    </div>

  </div>
</div>




 