<div class="d-flex">
  <div>
    <%= render "shared/sidebar" %>
  </div>

  <!-- Content Wrappper-->
  <div class="w-100">
    <!-- Modal Fade-In -->
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-xlg" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <!-- Wrapper for render new partial-->
    <div class="d-flex">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column mt-4 col-lg-12">
        <section class="jumbotron text-center ml-2">
          <div class="container">
            <div>
              <h2 class="jumbotron-heading"><strong>Análises Cadastradas</strong></h2>
              <p class="lead text-muted">
                Nesta página, você tem acesso as suas análises de solo e recomendações cadastradas.
              </p>
              <%= link_to ' Criar nova análise de solo', new_analise_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-md btn-outline-secondary favorite-btn" }  %>
            </div>
        </section>
        
        <div class="ml-2">
          <% if @analises.present? %>
            <%= render  "analises" %>
          <% else %>
            <h5>Nenhuma análise de solo cadastrada ainda.</h5>
          <% end %>
        </div>
      </div>
      <%#= render "ownerships/index" %>
    </div>

  </div>
</div>




 