<div class="list-group col-lg-2">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Endereço</strong></h5>
      <small></small>
    </div>
    <!--<p class="mb-1"><%#= property.address %> ou</p>-->
    <p class="mb-1"><%= property.formatted_address %></p>
    <small>CEP: <%= property.cep %></small>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><strong>Clima e Temperatura</strong></h4>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1"><%= celsius %>º Graus Celsius</p>
    <small class="text-muted">Hora da consulta: <%= timestamp %></small>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <small class="mb-1">Ultima modificação:</small>
    <small class="text-muted">Criado em: <% @updated_at %></small>
  </a>
</div>