<div class="d-flex">
  <div>
    <%= render "shared/sidebar" %>
  </div>

  <div>
    <!-- ModaL div for render new partial-->
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column mt-4 col-lg-9">
      <section class="jumbotron text-center ml-2">
        <div class="container">
          <div>
            <h1 class="jumbotron-heading">Propriedades Cadastradas</h1>
            <p class="lead text-muted">
              Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
            </p>
            <%= link_to ' Criar nova propriedade', new_property_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-md btn-outline-secondary favorite-btn" }  %>
          </div>
        </div>
      </section>
      <div class="ml-2">
        <% if @properties.present? %>
          <%= render  "properties" %>
        <% else %>
          <h5>Nenhuma propriedade cadastrada.</h5>
        <% end %>
      </div>
    </div>
    <%= render "ownerships/index" %>

  </div>

</div>