$blue: #4e73df;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74a3b;
$orange: #fd7e14;
$yellow: #f6c23e;
$green: #1cc88a;
$pine: #519E8A;
$lime: #DBD56E;
$teal: #20c9a6;
$cyan: #36b9cc;
$white: #fff;
$white-jet: rgb(180, 180, 180);
$jet: #343434;
$gray-200: #858796;
$gray-300: #858796;
$gray-500: #5a5c69;
$gray-900: #5a5c69;
$primary: #4e73df;
$secondary: #858796;
$success-solo: #519E8A;
$info: #36b9cc;
$warning: #f6c23e;
$danger-solo: #EE6C4D;
$light: #f8f9fc;
$dark: #5a5c69;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$border-radius: 5%;
$box-shadow: 3px 3px 5px 6px #ccc;
$dropdown-font-size: 1rem;
$topbar-base-height: auto;
$sidebar-base-width: auto;