<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-dark">Header</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer bg-transparent border-dark">Footer</div>
</div>