<div class="d-flex">
  <div>
	  <%= render "shared/sidebar" %>
  </div>

  <div class="col-lg-10">
    <!-- ModaL div for render new partial-->
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-xlg" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column mt-4 col-lg-12">
	    <section class="jumbotron text-center ml-2">
        <div class="container">
          <div>
            <h1 class="jumbotron-heading"><strong>Amostras Cadastradas</strong></h1>
            <p class="lead text-muted">
              Nesta página, você tem acesso as suas amostras de solo cadastradas.
            </p>
            <%= link_to ' Criar nova amostra', new_amostra_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-md btn-outline-secondary favorite-btn" }  %>
          </div>
        </div>
      </section>
    </div>

    <div class="ml-2">
      <% if @amostras.present? %>
        <%= render  "amostras" %>
      <% else %>
        <h5>Nenhuma amostra cadastrada ainda.</h5>
        <% end %>
    </div>
  </div>


</div>

 