<%= render "shared/topbar" %>
<%= render "shared/sidebar" %>

<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <%= render "tables" %>	
    </div>
</div>
